In [10]:
import pandas as pd
df_buddy = pd.read_csv(r'C:\Users\Zebfred\1Lambda\DS-Unit-3-Sprint-2-SQL-and-Databases\module1-introduction-to-sql\buddymove_holidayiq.csv')

In [11]:
df_buddy.shape

(249, 7)

In [12]:
df_buddy.isnull().sum()

User Id      0
Sports       0
Religious    0
Nature       0
Theatre      0
Shopping     0
Picnic       0
dtype: int64

In [17]:
df_buddy.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [13]:
import sqlite3
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [23]:
#buddy_sql = df_buddy.to_sql('buddymove_holidayiq.sqlite3', conn)

C:\Users\Zebfred\Anaconda3\lib\site-packages\pandas\core\generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

ValueError: Table 'buddymove_holidayiq.sqlite3' already exists.

In [21]:
cur = conn.cursor()

In [28]:
Buddy_conn = conn

In [29]:
Buddy_cur = cur

In [32]:
Buddy_cur.rowcount
#well

-1

In [22]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [ ]:
cur.execute('')

In [20]:
SELECT SUM(Sports)
FROM buddymove_holidayiq.sqlite3

SyntaxError: invalid syntax (<ipython-input-20-0af4efe6de6c>, line 1)

In [25]:
rpg_conn = sqlite3.connect('rpg_db.sqlite3')

In [26]:
rpg_cur = rpg_conn.cursor()

In [27]:
rpg_cur.fetchall()

[]

In [ ]:
SELECT character.name, inventory.id
FROM charactercreator_character AS character,
charactercreator_character_inventory AS inventory
WHERE character.character_id = inventory.character_id;

In [ ]:
SELECT character.name, inventory.id
FROM charactercreator_character AS character,
charactercreator_character_inventory AS inventory
WHERE character.character_id = inventory.character_id
LIMIT 10;

In [ ]:
SELECT character.name, item.name
FROM charactercreator_character AS character,
charactercreator_character_inventory AS inventory,
armory_item AS item
WHERE character.character_id = inventory.character_id
AND inventory.item_id = item.item_id
LIMIT 10;
Aliquid iste optio re